/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Styles */
body {
  width: 90%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

/* Navbar */
.navbar {
  display: flex;
}
.nav-title {
  flex: 1;
  color: #3a3a3a;
}

.nav-links {
  margin-top: 24px;
}

.nav-links a {
  color: #3a3a3a;
  text-decoration: none;
  margin-left: 34px;
  font-weight: 600;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.header-title {
  color: #3a3a3a;
}

.header-left {
  flex: 1;
  padding-right: 50px;
}

.header-detail {
  font-size: 20px;
  font-weight: 600;
  color: #3a3a3a;
}

.prebook-btn {
  height: 44px;
  width: 196px;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  background-color: #e02c6d;
  border: none;
  cursor: pointer;
  transition: height 0.5s, width 0.5s;
}

.prebook-btn:hover {
  animation: scale 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

.header-right {
  flex: 1;
}

.header-img {
  display: flex;
  justify-content: center;
}

.header-img img {
  width: 500px;
  filter: drop-shadow(0px 3px 3px black);
}

hr {
  width: 95%;
  border: 1px solid lightgray;
}

.company-logos {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.company-logos img {
  width: 80px;
}

/* 
* Main Section 
* or Popular Collection section 
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.main-title {
  color: #3a3a3a;
}
