/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Styles */
body {
  width: 90%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

/* Navbar */
.navbar {
  display: flex;
}

.nav-title {
  flex: 1;
  color: #3a3a3a;
}

.nav-links {
  margin-top: 24px;
}

.nav-links a {
  color: #3a3a3a;
  text-decoration: none;
  margin-left: 34px;
  font-weight: 600;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.header-title {
  color: #3a3a3a;
}

.header-left {
  flex: 1;
  padding-right: 50px;
}

.header-detail {
  font-size: 20px;
  font-weight: 600;
  color: #3a3a3a;
}

.cta-btn {
  height: 44px;
  width: 196px;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  background-color: #e02c6d;
  border: none;
  cursor: pointer;
  transition: height 0.5s, width 0.5s;
}

.cta-btn:hover {
  animation: scale 0.2s linear;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

.header-right {
  flex: 1;
}

.header-img {
  display: flex;
  justify-content: center;
}

.header-img img {
  width: 500px;
  filter: drop-shadow(0px 3px 3px black);
}

hr {
  width: 95%;
  border: 1px solid lightgray;
}

.company-logos {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logos img {
  width: 80px;
}

/* 
* Main Section 
* or Popular Collection section 
*/

.all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.main-title {
  color: #3a3a3a;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 3rem;
}

.product {
  background-color: rgba(240, 235, 235, 0.26);
  cursor: pointer;
  border-radius: 15px;
  padding: 15px;
  width: 330px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.15);
}

.product:hover {
  animation: scale 0.2s linear;
  animation-fill-mode: forwards;
}

.product-img img {
  width: 100%;
}

.product-name {
  color: #18191f;
  font-weight: 500;
}

.product-price {
  font-weight: 400;
}

.rating {
  font-size: 14px;
  color: #5e6366;
}

.rating i {
  color: #fb8200;
  font-size: 14px;
}

.product-detail {
  color: #787885;
  font-size: 14px;
  font-weight: 700;
}

.see-more a {
  text-decoration: none;
  color: #e02c6d;
  text-align: end;
  font-size: 20px;
}

/* Company Details */

.company-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-details-title h1 {
  font-weight: 400;
}

.company-detail {
  display: flex;
  justify-content: space-around;
}

.company-detail button {
  margin-top: 1rem;
}

.company-video,
.company-description {
  padding: 3rem;
}

.company-description {
  color: #3a3a3a;
}

/* Footer */
footer {
  background-color: #0a0826;
  position: absolute;
  left: 0;
  right: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-title {
  color: #d9dbe1;
  margin-bottom: 5px;
}

.copyright {
  color: #d9dbe1;
  margin-bottom: 15px;
  font-weight: 700;
}

.social-icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
}

.social-icons i {
  font-size: 20px;
  color: #d9dbe1;
}

/* 
* Media query
* Tablet device 
*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
  }

  .header-left {
    text-align: center;
  }

  .company-logos {
    flex-wrap: wrap;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .company-details {
    text-align: center;
  }

  .company-detail {
    flex-direction: column;
  }

  .social-icons {
    width: 15%;
  }
}

/* Mobile Device */

@media screen and (max-width: 767px) {
  body {
    width: 95%;
  }

  .nav-title {
    text-align: center;
  }

  .nav-links {
    display: none;
  }

  .desktop-link {
    display: none;
  }

  .header {
    flex-direction: column-reverse;
    align-items: center;
  }

  .header-left {
    text-align: center;
  }

  .company-logos {
    width: 95%;
  }

  .products {
    grid-template-columns: repeat(1, 1fr);
  }

  .company-details {
    text-align: center;
  }

  .company-detail {
    flex-direction: column;
  }

  .social-icons {
    width: 18%;
  }
}
